body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url("../media/patterns/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    color: hsl(224, 23%, 55%);
}

a {
   color: hsl(245, 75%, 52%);
}

.footer a{
    text-decoration: none;
    color: #212529;
}

.d-price {
    color: hsl(224, 23%, 55%); 
}

h3 {
    color: hsl(223, 47%, 23%);
}

.d-plan {
    color: hsl(223, 47%, 23%);
}

.text-price {
    margin-left: 1rem;
}

.img-fluid {
    border-radius: 1rem 1rem 0 0;;
}

.c-radius {
    border-radius: 1rem 1rem 1rem 1rem;
}

.btn-custome {
    border-radius: 0.375rem;
    box-shadow:    0 14px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    padding:       0.375rem 0.75rem;
    color:         #ffffff;
    display:       inline-block;
    text-align:    center;
    font-size: 1rem;
    font-weight: 400px;
    line-height: 1.5;
    border: none;
    border-width: 1px;
    display: inline-block;
    user-select: none;
}

.btn-brightblue {
    background-color: hsl(240, 65%, 52%);
    color: #ffffff;
}

.btn-brightblue:hover {
    background-color: hsl(245, 75%, 40%);
    color: #ffffff;
}

.btn-brightblue:link {
    background-color: hsl(245, 75%, 52%);
    color: #ffffff;
}

.btnlink-custome:hover {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
}

.btn-cancel {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}

.btn-cancel:hover {
    color: hsl(245, 75%, 52%);
    text-decoration: none;
}

@media only screen and (max-width: 375px) {
    body {
        background-image: url("../media/patterns/pattern-background-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}